 .treatment-title {
        padding-left: 95px !important;
        text-align: center !important;
    }

    .treatment-button {
        padding-right: 65px !important;
        text-align: center !important;
    }

    button.btn.btn-primary.btn-sm.addRow {
        /* margin-bottom: 40px; */
    }

    a.btn.btn-primary.btn-rounded {
        margin-left: 267px;
    }

    h4.page-title.treatment-title {
        margin-left: 21px;
    }

    button.btn.btn-danger.btn-sm.removeRow.ml-2 {
        margin-bottom: 43px;
        border-radius: 19px;
    }

    button.btn.btn-danger.btn-sm.removeRow {
        /* margin-bottom: 40px; */
        border-radius: 14px;
    }

    @media screen and (max-width: 767px) {
        .treatment-title {
            padding-left: 0px !important;
            text-align: left !important;
        }

        .page-title {
            font-size: 19px !important;
        }

        .treatment-button {
            padding-right: 15px !important;
            text-align: right !important;
        }

        a.btn.btn-primary.btn-rounded {
            margin-left: 75px;
        }
    }